.form_input{
    display: flex;
    flex-wrap: nowrap;
    width: 15em;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 1.2em;
    position: relative;
    label{
        position: absolute;
        // z-index: 0;
        top:-1.4em;
        background-color: white;
        padding: 0  0.3em;
        font-size: small;
        color:gray
    }
    &__text{
        input{
        z-index: 1;
        width: 17.5em;
        height: 44px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid rgba(128, 128, 128, 0.485);
        &:focus {
            // color: #212529;
            // background-color: #fff;
            // border-color: #bdbdbd46;
            border: 1px solid #2684FF;
            outline: 0;
            box-shadow: 0 0 0 1px #2684FF;
          }
        }
    }

    
}
.error{
    p{
        font-size: 0.8em;
        position: absolute;
        bottom:-2em;
        right: 0;
        color: rgba(142, 34, 34, 0.801); 
    }
    input, .react-select__control{
        border: 1px solid rgba(218, 78, 78, 0.485);
        &:focus {
            border: 1px solid rgba(218, 78, 78, 0.485);
            box-shadow: 0 0 0 1px rgba(212, 122, 122, 0.252);
          }
        }    
}


.react-select-container{
    // z-index:3;
    // z-index: -1;
    
    .react-select__control{
    width: 15em;    
    }
}
 .react-select__menu{
        z-index:4;
    }

// .react-select__value-container .react-select-container{
//     z-index:1;
  
// }
